<div>
    <h2>Change View</h2>
    <div>
        <form>
            <input type="checkbox" name="changeView">add TODO<br>
            <input type="checkbox" name="changeView">add appointment<br>
            <input type="checkbox" name="changeView">add category<br>
            <input type="checkbox" name="changeView">show TODO<br>
            <input type="checkbox" name="changeView">show appointment<br>
            <input type="checkbox" name="changeView">show category<br>
        </form>
    </div>
    <button type="button" onclick="ChangeView()">Change View</button>
</div>

<script src="/static/customize.js"></script>