<div>
    <h2>Change View</h2>
    <div>
        <form>
            <input type="checkbox" name="changeView">add TODO<br>
            <input type="checkbox" name="changeView">add appointment<br>
            <input type="checkbox" name="changeView">add category<br>
            <input type="checkbox" name="changeView">show TODO<br>
            <input type="checkbox" name="changeView">show appointment<br>
            <input type="checkbox" name="changeView">show category<br>
        </form>
    </div>
    <button type="button" onclick="ChangeView()">Change View</button>
</div>

<script>
    function ChangeView() {
        var view = [0, 0, 0, 0, 0, 0];
        var checkboxes = document.getElementsByName("changeView");
        for (var i = 0; i < 6; i++) {
            if (checkboxes[i].checked)
            {
               view[i] = 1;
            }
        }

        var dataToServer = {};
        dataToServer.view = view;
        dataToServer = JSON.stringify(dataToServer);

        //connect with the server
        var req = new XMLHttpRequest();
        req.open("POST","/changeView",true);
        req.setRequestHeader("Content-Type", "application/json");

        //callback
        req.addEventListener("load",function(){
            if(req.status >= 200 && req.status < 400){
                window.location.assign('/')
            } else {
                console.log("Error in network request: " + req.statusText);
            }
        });
        //send the data to server
        req.send(dataToServer);
        event.preventDefault();

    }

</script>